

<div class="modal fade" id="myClientModalLabel" tabindex="-1" role="dialog" aria-labelledby="myClientModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
                <div class="container">    
                        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-12 col-md-offset-1 col-sm-12 col-sm-offset-1">                    
                            <div class="panel panel-info" >
                                    <div class="panel-heading">
                                        
                                        <div class="panel-title">Vendor Sign In</div>
                                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
                                    </div>     
                
                                    <div style="padding-top:30px" class="panel-body" >
                
                                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                                        <div *ngIf="loginError">
                                            <h1>Login failed</h1>
                                        </div>
                                          
                                        <form id="loginform" class="form-horizontal" role="form" action="" method="POST">
                                                    
                                            <div style="margin-bottom: 25px" class="input-group">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                        <input id="login-username" type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="username or email">                                        
                                                    </div>
                                                
                                            <div style="margin-bottom: 25px" class="input-group">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                        <input id="login-password" type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="password">
                                                    </div>
                                                    
                
        
                
                
                                                <div style="margin-top:10px" class="form-group">
                                                    <!-- Button -->
                
                                                    <div class="col-sm-12 controls">
                                                        <button (click)=checkLogin() class="btn btn-success">
                                                            Login
                                                          </button>
                                                   
                                                    </div>
                                                </div>
                
                
                                                <div class="form-group">
                                                    <div class="col-md-12 control">
                                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                                            Don't have an account! 
                                                        <a onClick="$('#loginbox').hide(); $('#buyerSignupbox').show()">
                                                            Sign Up Here
                                                        </a>
                                                        </div>
                                                    </div>
                                                </div>    
                                            </form>     
                
                
                
                                        </div>                     
                                    </div>  
                        </div>
                        <div id="buyerSignupbox" style="display:none; margin-top:50px" class="mainbox col-md-12 col-md-offset-1 col-sm-12 col-sm-offset-1">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <div class="panel-title"><b>Sign Up</b></div>
                                            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" onclick="$('#buyerSignupbox').hide(); $('#loginbox').show()">Sign In</a></div>
                                        </div>  
                                        <div class="panel-body" >
                                            <form id="signupform" class="form-horizontal"  role="form" action="" method="POST">
                                                    
                                                    <div class="form-group">
                                                        <label for="email">companyName:</label>
                                                        <input type="text" class="form-control" id="companyName" placeholder="Enter email" name="companyName" [(ngModel)]="companyName" >
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="pwd">registrationNumber:</label>
                                                        <input type="text" class="form-control" id="registrationNumber" placeholder="Enter password" name="registrationNumber" [(ngModel)]="registrationNumber" >
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="email">gstNumber:</label>
                                                        <input type="text" class="form-control" id="gstNumber" placeholder="Enter email" name="gstNumber" [(ngModel)]="gstNumber" >
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="pwd">supervisor:</label>
                                                        <input type="text" class="form-control" id="supervisor" placeholder="Enter password" name="supervisor" [(ngModel)]="supervisor" >
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="email">contact:</label>
                                                        <input type="text" class="form-control" id="contact" placeholder="Enter email" name="contact" [(ngModel)]="contact" >
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="pwd">address:</label>
                                                        <input type="text" class="form-control" id="address" placeholder="Enter password" name="address" [(ngModel)]="address" >
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="email">emailId:</label>
                                                        <input type="text" class="form-control" id="emailId" placeholder="Enter email" name="emailId" [(ngModel)]="emailId" >
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="pwd">password:</label>
                                                        <input type="text" class="form-control" id="regpassword" placeholder="Enter password" name="regpassword" [(ngModel)]="regpassword" >
                                                      </div>
                                                      <div class="checkbox">
                                                        <label><input type="checkbox" name="remember"> Remember me</label>
                                                      </div>
                                                      <button (click)=register() class="btn btn-success">
                                                        register
                                                      </button>
                        
                                                      
                                                        <div class="form-group">
                                                            <div class="col-md-12 control">
                                                                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                                                    Don't have an account! 
                                                                <a onClick="$('#loginbox').hide(); $('#buyerSignupbox').show()">
                                                                    Sign Up Here
                                                                </a>
                                                                </div>
                                                            </div>
                                                        </div>    
                                   
                                                
                                            </form>
                                       
                                         </div>
                                    </div>
                
                               
                               
                                
                         </div> 
                    </div>
                  
          </div>
        </div>
        </div>
        