<div class="container">
        <div class="row">
          <div class="col-sm-5">
            <h1 style="padding-top:70%;">
                Rent your Machinery
            </h1>
          </div>
          <div class="col-sm-7">
                <form style="padding:20px;">
                        <div class="form-group">
                          <label for="exampleInputEmail1">sellerId</label>
                          <input type="text" class="form-control" id="sellerId" aria-describedby="sellerId" placeholder="sellerId" [(ngModel)]="sellerId" name="sellerId" readonly="readonly">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">companyName</label>
                          <input type="text" class="form-control" id="companyName" aria-describedby="companyName" placeholder="companyName" [(ngModel)]="companyName" name="companyName" readonly="readonly">
                      
                        </div>
                        <div class="form-group">
                                <label for="exampleInputEmail1">inventoryDescription</label>
                                <input type="text" class="form-control" id="inventoryDescription" aria-describedby="inventoryDescription" placeholder="inventoryDescription" [(ngModel)]="inventoryDescription" name="inventoryDescription">
                        </div>
                        <div class="form-group">
                                <label for="exampleInputEmail1">inventoryType</label>
                                <input type="text" class="form-control" id="inventoryType" aria-describedby="inventoryType" placeholder="inventoryType" [(ngModel)]="inventoryType" name="inventoryType">
                        </div>
                        <div class="form-group">
                                <label for="exampleInputEmail1">rent</label>
                                <input type="text" class="form-control" id="rent" aria-describedby="emailHelp" placeholder="rent" [(ngModel)]="rent" name="rent">
                        </div>
                        <div class="form-group">
                                <label for="exampleInputEmail1">rentType</label>
                                <input type="text" class="form-control" id="rentType" aria-describedby="emailHelp" placeholder="rentType" [(ngModel)]="rentType" name="rentType">
                        </div>
                        <div class="form-group">
                                <label for="exampleInputEmail1">inventoryCount</label>
                                <input type="text" class="form-control" id="inventoryCount" aria-describedby="emailHelp" placeholder="inventoryCount" [(ngModel)]="inventoryCount" name="inventoryCount">
                        </div>

                       

                        <button (click)=register() type="submit" class="btn btn-primary">Submit</button>
                      </form>
          </div>
          
        </div>
      </div>