<div class="container">
        <div class="row">
          <div class="col-sm-5">
            <h1 style="padding-top:70%;">
                Rent your Machinery
            </h1>
          </div>
          <div class="col-sm-7">
                <form style="padding:20px;">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Inventory</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Inventory">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Seller Id</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seller Id">
                      
                        </div>
                        <div class="form-group">
                                <label for="exampleInputEmail1">Company Name</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Company Name">
                        </div>
                        <div class="form-group">
                                <label for="exampleInputEmail1">Item Description</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Item Description">
                        </div>
                        <div class="form-group">
                                <label for="exampleInputEmail1">Rent</label>
                                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Rent">
                        </div>
                        <div class="form-group">
                                <label for="exampleInputEmail1">Image</label>
                                <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Image">
                        </div>
                        <div class="form-group">
                                <label for="exampleInputEmail1">Inventory Id</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Inventory Id">
                        </div>
                        <div class="form-group">
                                <label for="exampleInputEmail1">Inventory Count</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Inventory Count">
                        </div>
                       

                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
          </div>
          
        </div>
      </div>